.cartpagemaindiv{
    background: rgb(160,242,156);
    background: linear-gradient(90deg, rgba(160,242,156,1) 0%, rgba(88,211,231,0.5133403703278187) 0%, rgba(160,242,156,1) 100%);
}

.yourcart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: darkorange;
    font-size: 70px;
}

.cart{
    display: flex;
    justify-content: space-evenly;
}

#cartitems{
    margin-left: 3%;
    margin-right: 30%;
}
