*{
    overflow-x: hidden;
}

#images{
    background-image: url('../IMAGES/Biryani.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    animation: changebackground 7s infinite ease;
    height: 750px;
}


@keyframes changebackground {
    0%{
        background-image: url('../IMAGES/Biryani.jpg');
    }

    33%{
        background-image: url('../IMAGES/GulabJamun.jpg');
    }

    67%{
        background-image: url('../IMAGES/Milkshake.jpg');
    }

    100%{
        background-image: url('../IMAGES/Biryani.jpg');
    }
}

.itemssearch{
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    background: rgb(160,242,156);
    background: linear-gradient(90deg, rgba(160,242,156,1) 0%, rgba(88,211,231,1) 0%, rgba(160,242,156,1) 100%);
    height: fit-content;
    padding-top: 50px;
}

.formdiv{
    display: flex;
    padding: 15px;
    padding-top: 0px;
}

.searchbutton{
    padding: 11px 15px;
    border: 2px solid #0D6EFD;
    border-radius: 8px;
}

.searchbutton:hover{
    border: 2px solid green;
    background-color: green;
    color: white;
}

#itemsdiv{
    justify-content: space-evenly;
    padding: 0 20px;
}